
.shadow {
  border: 1px solid;
  box-shadow: 20px 20px 20px rgb(23, 21, 21, 0.395);
  --bs-card-spacer-y: none !important;
}
.flip-card-3D-wrapper {
  max-width: 300px;
  max-height: 500px;
  position: relative;
  -o-perspective: 900px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  margin: 0 auto;

}
#flip-card {
  width: 100%;
  height: 100%;


  position: absolute;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.btn-show-img {
  top: 8px;
  right: 7px;
  background-color: #fffaf4 !important;
  box-shadow: 0 4px 10px 0px rgb(30, 30, 30, 0.391);
}
#flip-card-btn-turn-to-front {
  position: absolute;
  top: 100;
  width: 90%;
  border-radius: 5px;
  height: 40px;
  background: #ed4c5c;
  cursor: pointer;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  color: white;
  border: 1px solid grey;
}
#flip-card-btn-turn-to-back {
  position: absolute;
  top: 100;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  background: #ed4c5c;
  cursor: pointer;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  color: white;
  border: 1px solid grey;
}
#flip-card .flip-card-front,
#flip-card .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  border-radius: 1%;
  -webkit-box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
  -moz-box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
  box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
}

#flip-card .flip-card-back {
 
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


@media (max-width: 420px) {
  .card-4D {
    min-height: 300px !important;
  }
}
@media (max-width: 768px) {
  .card-4D {
    min-height: 350px !important;
  }
}

 .card-4D {
  border: none !important;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) !important;
  min-height: 450px !important;
border-radius: 10%;

} 




